# Database
DATABASE_URL=postgresql://postgres:dummy@localhost:5432/better_auth
DB_HOST=localhost
DB_PORT=5432
DB_PASSWORD=dummy
DB_USER=postgres
DB_NAME=better_auth

# Better Auth
BETTER_AUTH_SECRET=dummy
BETTER_AUTH_URL=http://localhost:3000

#Arcjet
ARCJET_KEY=dummy